<div class="d-flex w-100 gap-3">


    <button type="button" id="{{ prototype_company_id }}_delete"
            class="btn btn-outline-danger btn-sm del-item-company border-0"
            data-delete="item_{{ prototype_company_id }}">
            <span class="svg-icon svg-icon-2 text-nowrap"><svg
                        xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><rect
                            opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1"
                            transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                    <rect x="8.46447"
                          y="7.05029"
                          width="12"
                          height="2" rx="1"
                          transform="rotate(45 8.46447 7.05029)"
                          fill="currentColor"></rect></svg></span>
    </button>


    <div class="w-100">
        {{ prototype_company|raw }}
    </div>

</div>